<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Cold Morning</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/musicDetails.css" />
        <link rel="stylesheet" href="../css/appMusicPlayer.css" />
        <%- include('../partials/style') %>
    </head>

    <body id="cold-morning">
        <%- include('../partials/navbar') %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../Images/cold-morning.png" alt="..." />
                </div>

                <div class="col">
                    <h2>Cold Morning</h2>
                    <div class="container-audio mb-3">
                        <label
                            >1. walking through the cold morning breeze</label
                        >
                        <div id="graph-cold-morning" class="container-audio">
                            <%- include('../animations/bar-animation') %>
                        </div>
                        <audio controls controlsList="nodownload">
                            <source
                                src="../Audio/walking through the cool morning breeze.mp3"
                                type="audio/ogg"
                            />
                        </audio>
                    </div>
                    <div class="container-audio">
                        <label>2. meet her at the station</label>
                        <div id="graph-cold-morning" class="container-audio">
                            <%- include('../animations/bar-animation') %>
                        </div>
                        <audio controls controlsList="nodownload">
                            <source
                                src="../Audio/met her at the station.mp3"
                                type="audio/ogg"
                            />
                        </audio>
                    </div>
                </div>
                <%- include('../partials/reviews') %>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
