<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><%= albumTitle %></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/musicDetails.css" />
        <link rel="stylesheet" href="../css/appMusicPlayer.css" />
        <%- include('../partials/style') %>
    </head>
    <!-- id="<%= albumDat.name  %>" -->
    <body id="music-details-body">
        <%- include('../partials/navbar') %>
        <div id="the-album" class="container">
            <div class="row">
                <div class="col">
                    <img src="../Images/<%= albumDat.name %>.png " alt="..." />
                </div>

                <div class="col">
                    <h2 id="<%= albumDat.name %>-title"><%= albumTitle %></h2>
                    <% for(let track of albumDat.tracks) {%>
                    <div class="container-audio mb-3">
                        <label for=""
                            >track <%= track.track_number %> - <%= track.title
                            %>
                        </label>
                        <div
                            id="graph-<%=albumDat.name%>"
                            class="container-audio"
                        >
                            <%- include('../animations/bar-animation') %>
                        </div>
                        <audio controls controlsList="nodownload">
                            <source
                                src="Audio/<%= track.title %>.mp3"
                                type="audio/mpeg"
                            />
                        </audio>
                    </div>
                    <% } %>
                </div>
                <%- include('../partials/reviews') %>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </body>
</html>
